{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block bodyId %}loginPage{% endblock %}

{% block content %}
    <h2>Mot de passe oublié</h2>
<form action="{% url 'comptes:password_reset' %}" method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Envoyer">
</form>
{% endblock %}

{% block menucontent %}
  menu
{% endblock %}

{% block leftsidecontent %}

{% endblock %}

{% block rightsidecontent %}

{% endblock %}

{% block footercontent %}

{% endblock %}
