{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block bodyId %}loginPage{% endblock %}

{% block content %}
{% if validlink %}
    <h2>Changement de mot de passe</h2>
<form method="POST">
    {{ form.as_p }}
    <input type="submit" value="Envoyer" />
    {% csrf_token %}
</form>
{% else %}
<p>Ce lien n'est plus valide</p>
{% endif %}
{% endblock %}

{% block menucontent %}

{% endblock %}

{% block leftsidecontent %}

{% endblock %}

{% block rightsidecontent %}

{% endblock %}

{% block footercontent %}

{% endblock %}
