{% extends "base.html" %}

{% block content %}
    <form action="{% url 'creationalternant' %}" method="post">
    {% csrf_token %}

    {% if nationalite == 3 %}
        <h5>
        Attention : si vous êtes ressortissants hors UE, pour conclure un contrat d’apprentissage, vous devez avoir l’autorisation pour travailler à temps complet.<br />
        Cette autorisation est déjà valable pour les détenteurs des titres de séjour suivants :<br />
        - Titre de séjour portant la mention VT TOTALE<br />
        - Vie privée et familiale<br />
        - Carte de résident 10 ans<br />
        <br />
        Pour les détenteurs d’un titre de séjour étudiant portant la mention “autorise son titulaire à travailler à titre accessoire” il est obligatoire :<br />
        1/ d’avoir déjà effectué une année d’étude complète sur le territoire français<br />
        2/ d’avoir un titre de séjour en cours de validité au moment du projet de contrat d’apprentissage<br />
        3/ d’obtenir une autorisation de travail complémentaire auprès de la Direccte du département dans lequel a été émis le titre de séjour.<br />
        <br />
        Ces démarches sont à effectuer un mois AVANT le démarrage du contrat et l’obtention de cette autorisation doit intervenir AVANT son démarrage.<br />
        Pour plus d’information, appelez le CFA au 04 91 14 04 50 en précisant le nom de votre formation.
        </h5>
    {% endif %}

    {% if form.errors %}
        <p class="error">{{ form.errors }}</p>
    {% endif %}

        <fieldset>
            <div class="row">
                <div class="col-md-6 col-externe" >
                    <div class="row">
                      <div class="col-md-3">
                        <h5>Nom prénom</h5>
                      </div>
                      <div class="col-md-5">
                          {{ form.nom }}
                      </div>
                      <div class="col-md-4">
                          {{ form.prenom }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe" >
                    <div class="col-md-1">
                        <h5></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Date de naissance</h5>
                    </div>
                    <div class="col-md-3">
                        {{ form.date_naissance }}
                    </div>
                    <div class="col-md-2">
                        <h5 align="center">Sexe</h5>
                    </div>
                    <div class="col-md-2">
                        {{ form.sexe }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-3">
                        <h5>Adresse</h5>
                      </div>
                      <div class="col-md-2">
                          {{ form.adresse_numero }}
                      </div>
                      <div class="col-md-7">
                          {{ form.adresse_voie }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe" >
                    <div class="col-md-1">
                        <h5></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Département de naissance</h5>
                    </div>
                    <div class="col-md-7">
                          {{ form.numero_departement_naissance }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-3">
                        <h5></h5>
                      </div>
                      <div class="col-md-2">
                          {{ form.code_postal }}
                      </div>
                      <div class="col-md-7">
                          {{ form.ville }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe" >
                    <div class="col-md-1">
                        <h5></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Ville de naissance</h5>
                    </div>
                    <div class="col-md-7">
                          {{ form.commune_naissance }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-3">
                        <h5>Téléphone</h5>
                      </div>
                      <div class="col-md-3">
                          {{ form.telephone }}
                      </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-3">
                        <h5>Représentant légal</h5>
                      </div>
                      <div class="col-md-3">
                          {{ form.civilite_representant }}
                      </div>
                      <div class="col-md-3">
                          {{ form.nom_representant }}
                      </div>
                      <div class="col-md-3">
                          {{ form.prenom_representant }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe" >
                    <div class="col-md-1">
                        <h5></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Nationalité</h5>
                    </div>
                    <div class="col-md-7">
                          {{ form.nationalite }}
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-3">
                        <h5>(pour les mineurs)</h5>
                      </div>
                      <div class="col-md-2">
                          {{ form.adresse_numero_representant }}
                      </div>
                      <div class="col-md-7">
                          {{ form.adresse_voie_representant }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe" >
                    <div class="col-md-1">
                        <h5></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Régime social</h5>
                    </div>
                    <div class="col-md-3">
                          {{ form.regime_social }}
                    </div>
                    <div class="col-md-3">
                        <h5>Travailleur handicapé</h5>
                    </div>
                    <div class="col-md-1">
                          {{ form.handicape }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-3">
                        <h5></h5>
                      </div>
                      <div class="col-md-2">
                          {{ form.code_postal_representant }}
                      </div>
                      <div class="col-md-7">
                          {{ form.ville_representant }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe" >
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-3">
                          <h5><b>Parcours</b></h5>
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="col-md-4">
                        <h5>Situation avant ce contrat</h5>
                    </div>
                    <div class="col-md-8">
                        {{ form.situation_avant_contrat }}
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                        <h5></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Diplôme le plus elevé</h5>
                    </div>
                    <div class="col-md-7">
                        {{ form.diplome_le_plus_eleve }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-4">
                        <h5>Dernier diplôme préparé et intitulé précis</h5>
                      </div>
                      <div class="col-md-8">
                          {{ form.dernier_diplome_prepare }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="row">

                        <div class="col-md-12">
                            {{ form.intitule_dernier_diplome_prepare }}
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-externe">
                    <div class="col-md-12">
                        <h5>Dernière année suivie</h5>
                    </div>
                </div>
                <div class="col-md-10 col-externe">
                    <div class="col-md-12">
                        {{ form.derniere_annee_suivie }}
                    </div>
                </div>
            </div>
        </fieldset>

    <p>
        <input type="submit" class="btn btn-success" value="Valider" />
    </p>

</form>
{% endblock %}
