<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Inscription apprentissage – {% block title %}Bienvenue{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

  </head>
  <body id="{% block bodyId %}genericPage{% endblock %}">
    <header>
      <a href="{% url 'comptes:logout' %}">Se déconnecter</a>
    {% block headerContent %}{% endblock %}
    </header>

    <section id="content">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'creationalternant' %}">Vous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'creationentreprise' %}">Votre employeur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'detail_formation' %}">Votre formation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'informationcontrat' %}">Les données de votre contrat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'informationmission' %}">Votre mission</a>
          </li>
        </ul>
        {% block content %}
        {% endblock %}
      </div>
    </section>

    <section id="leftside">
    {% block leftsidecontent %}{% endblock %}
    </section>
    <section id="rightside">
    {% block rightsidecontent %}{% endblock %}
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
