{% load static %}
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Inscription apprentissage – {% block title %}Bienvenue{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?no_cache={{ request.uuid }}" />
    <link rel="stylesheet" type="text/css" href="/static/js/lib/jquery-ui/jquery-ui.min.css?no_cache={{ request.uuid }}" />
    <script type="text/javascript" src="/static/js/lib/jquery-3.3.1.min.js?no_cache={{ request.uuid }}"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-ui/jquery-ui.min.js?no_cache={{ request.uuid }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/cactus.js?no_cache={{ request.uuid }}"></script>

  </head>
  <body id="{% block bodyId %}genericPage{% endblock %}">
    <header>
    {% block headerContent %}
        <h1 id="main_title"><a href="/">Formasup</a></h1>
    {% endblock %}
    </header>

    <section id="content">
      <div class="container">
        {% if user.is_authenticated %}
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'accueil' %}">
                  {% ifequal nomonglet "Accueil" %}<strong>{% endifequal %}Accueil{% ifequal nomonglet "Accueil" %}</strong>{% endifequal %}
                </a>
              </li>

              {% if contrat %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'creationalternant' %}">
                  {% ifequal nomonglet "Vous" %}<strong>{% endifequal %}Vous{% ifequal nomonglet "Vous" %}</strong>{% endifequal %}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'creationentreprise' %}">
                  {% ifequal nomonglet "Votre employeur" %}<strong>{% endifequal %}Votre employeur{% ifequal nomonglet "Votre employeur" %}</strong>{% endifequal %}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'detail_formation' %}">
                  {% ifequal nomonglet "Votre formation" %}<strong>{% endifequal %}Votre formation{% ifequal nomonglet "Votre formation" %}</strong>{% endifequal %}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'informationcontrat' %}">
                  {% ifequal nomonglet "Les données de votre contrat" %}<strong>{% endifequal %}Les données de votre contrat{% ifequal nomonglet "Les données de votre contrat" %}</strong>{% endifequal %}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'informationmission' %}">
                  {% ifequal nomonglet "Votre mission" %}<strong>{% endifequal %}Votre mission{% ifequal nomonglet "Votre mission" %}</strong>{% endifequal %}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'cerfa' %}">
                  {% ifequal nomonglet "Votre CERFA" %}<strong>{% endifequal %}Votre CERFA{% ifequal nomonglet "Votre CERFA" %}</strong>{% endifequal %}
                </a>
              </li>

              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="{% url 'comptes:logout' %}">Se déconnecter</a>
                </li>
            </ul>
        </nav>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% if form.errors %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ form.non_field_errors|striptags }}
                </div>
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ field.label }}:</strong> {{ field.errors|striptags }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
      </div>
    </section>

    <section id="leftside">
    {% block leftsidecontent %}{% endblock %}
    </section>
    {% comment %}<section id="rightside">
    {% block rightsidecontent %}{% endblock %}
    </section>{% endcomment %}
  </body>
</html>
