{% extends "base.html" %}

{% block content %}
<form action="{% url 'informationmission' %}" method="post">
    {% csrf_token %}

    <fieldset>

        <div class="row">
            <div class="col-md-12 col-externe">
                <div class="col-md-12">
                    <h5><p>Vous pouvez à présent obtenir votre CERFA</p>
                    </h5>
                    <h4><b>Nous vous rappelons que le CERFA doit être envoyé au CFA Epure en 3 exemplaires originaux (les photocopies sont refusées).</b></h4>
                    <h5>
                        <p>Ce CERFA n'est pas modifiable electroniquement afin que les informations portées sur le document papier et les données mémorisées soient strictement identiques. </p>
                        <br />
                        <p>Dans le cas où vous, ou votre employeur, souhaiteriez modifier des informations du contrat, nous vous remercions d'effectuer les modifications dans cet outil d'inscription et de produire de nouveau le CERFA.</p>
                    </h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-externe">
                <div class="col-md-12">
                    <h5><a class="btn btn-primary" href="{% url 'creerCERFA' %}">Télécharger le CERFA</a></h5>
                </div>
            </div>
        </div>

    </fieldset>

</form>
{% endblock %}
