{% extends "base.html" %}
{% load humanize %}

{% block content %}

    <form id="contrat_form" action="." method="POST">
        {% csrf_token %}

        <fieldset>
            <div class="row">
                <div class="col-md-2 col-externe">
                    <div class="col-md-12">
                        <h5>Type de dérogation</h5>
                    </div>
                </div>
                <div class="col-md-10 col-externe" >
                    <div class="col-md-12">
                        <div id="div_type_derogation">
                            {{  form.type_derogation }}</div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="row">
                <div  class="col-md-6 col-externe">
                    <div class="col-md-4">
                        <h5>Date de début de contrat</h5>
                    </div>
                    <div class="col-md-2">
                        <div data-toggle="popover" data-trigger="manual" data-placement="top"
                             data-content="Sauf dérogation la date de début de contrat doit être comprise dans la période suivante :
                                            date de formation moins 3 mois – date de début de formation + 3 mois" id="div_date_debut_contrat">{{  form.date_debut_contrat }}</div>
                    </div>
                    <div class="col-md-4">
                        <h5 align="center">Date de fin de contrat</h5>
                    </div>
                    <div class="col-md-2">
                        <div data-toggle="popover" data-trigger="manual" data-placement="top"
                             data-content="La date de fin de contrat doit être postérieure à la date de fin de formation (examens
                                           compris) et ne pas la dépasser de plus de deux mois." id="div_date_fin_contrat">{{  form.date_fin_contrat }}</div>
                    </div>
                    </div>
                <div  class="col-md-3 col-externe">
                    <div class="col-md-7">
                        <h5 align="center">Date d'embauche</h5>
                    </div>
                    <div class="col-md-4">
                        {{  form.date_embauche }}
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="row" align="center">
                <div class="col-md-6 col-externe">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <h5>Du</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Au</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Minimum</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Base</h5>
                    </div>

                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <h5>Du</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Au</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Minimum</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Base</h5>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>

            </div>
        </fieldset>

        <fieldset>
            <div class="row" id="annee1">
                <div class="col-md-6 col-externe">
                    <div class="col-md-3">
                        <h5>Première année</h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_1_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_1_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_1_per_1_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_1_base }}
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_2_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_2_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_1_per_2_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_2_base }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>

            </div>

            <div class="row" id="annee2">
                <div class="col-md-6 col-externe">
                    <div class="col-md-3">
                        <h5>Deuxième année</h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_1_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_1_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_2_per_1_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_1_base }}
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_2_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_2_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_2_per_2_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_2_base }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="row" id="annee3">
                <div class="col-md-6 col-externe">
                    <div class="col-md-3">
                        <h5>Troisième année</h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_1_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_1_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_3_per_1_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_1_base }}
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_2_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_2_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_3_per_2_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_2_base }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="row" id="annee4">
                <div class="col-md-6 col-externe">
                    <div class="col-md-3">
                        <h5>Quatrième année</h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_1_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_1_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_4_per_1_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_1_base }}
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_2_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_2_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_4_per_2_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_2_base }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-externe">
                    <div class="col-md-12">
                        <h5>Salaire brut mensuel</h5>
                    </div>
                </div>
                <div class="col-md-10 col-externe">
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.salaire_brut_mensuel }}
                            <span class="input-group-addon">€</span>
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-3">
                        <h5 align="center">Caisse de retraite complémentaire</h5>
                    </div>
                    <div class="col-md-3">
                        {{  form.caisse_retraite_complementaire }}
                    </div>
                    <div class="col-md-2">
                        <h5 align="center">Risques particuliers</h5>
                    </div>
                    <div class="col-md-1">
                        <div class="checkbox">
                            {{  form.risques_particuliers }}
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-externe">
                    <div class="col-md-12">
                        <h5 align="">Avantages en nature</h5>
                    </div>
                </div>
                <div class="col-md-10 col-externe">
                    <div class="col-md-1">
                        <h5>Nourriture</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{ form.nourriture }}
                            <span class="input-group-addon">€ / jour</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h5 align="center">Logement</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.logement }}
                            <span class="input-group-addon">€ / mois</span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <h5 align="center">Prime panier</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.prime_panier }}
                            <span class="input-group-addon">€ / mois</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-externe">
                    <div class="col-md-12">
                        <h5 align="">Durée hebdo. du travail</h5>
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.duree_hebdomadaire_travail_heures }}
                            <span class="input-group-addon">h</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.duree_hebdomadaire_travail_minutes }}
                            <span class="input-group-addon">mn</span>
                        </div>
                    </div>
                </div>
            </div>

            <p>
                <input type="submit" class="btn btn-success" value="Valider" />
            </p>
        </fieldset>

    </form>

    <script type="text/javascript">

    var DOMAIN = "http://127.0.0.1:8000/";

    $(document).ready(function() {

        $('#contrat_form').data('serialize',$('#contrat_form').serialize());
          // On load save form current state

        $(window).bind('beforeunload', function(e){
            if($('#contrat_form').serialize()!=$('#contrat_form').data('serialize'))return true;
            else return False;
        });

        $("#contrat_form").on("submit", function(e){
           $(window).off("beforeunload");
           return true;
        });

        // Message d'alerte pour la saisie erronnée d'une date de début de contrat
        $(document).on("click", ".popover-content", function(){
            $("#div_date_debut_contrat").popover("hide");
            $("#div_date_fin_contrat").popover("hide");
        });

        // Affichage des zone d'année si besoin
        if($("#id_an_1_per_1_du").val() || $("#id_an_2_per_1_du").val() ||
            $("#id_an_3_per_1_du").val() || $("#id_an_4_per_1_du").val()){

            if(!$("#id_an_1_per_1_du").val()){
                $("#annee1").hide();
            }

            if(!$("#id_an_2_per_1_du").val()){
                $("#annee2").hide();
            }

            if(!$("#id_an_3_per_1_du").val()){
                $("#annee3").hide();
            }

            if(!$("#id_an_4_per_1_du").val()){
                $("#annee4").hide();
            }
        }

        $("#id_date_debut_contrat").change(function(){
            $.post(
                DOMAIN + "api/valider_date_debut_contrat/",
                {
                    "date_saisie": $("#id_date_debut_contrat").val(),
                    "type_derogation": $("#id_type_derogation").val()
                },
                function(response){
                    if(!response.success){
                        $("#div_date_debut_contrat").popover("show");
                        $("#div_date_debut_contrat").closest("div").addClass("has-error");

                    } else {
                        $("#div_date_debut_contrat").popover("hide");
                        $("#div_date_debut_contrat").closest("div").removeClass("has-error");

                        // on Tente de récupérér les rémunération
                        if($("#id_date_fin_contrat").val() != ""){
                            get_remuneration();
                        }

                    }
                }
            );
        });

        $("#id_type_derogation").change(function(){
            // on Tente de récupérér les rémunération
            if($("#id_date_fin_contrat").val() != "" && $("#id_date_debut_contrat").val() != ""){
                get_remuneration();
            }
        });


        $("#id_date_fin_contrat").change(function(){
            $.post(
                DOMAIN + "api/valider_date_fin_contrat/",
                {
                    "date_saisie": $("#id_date_fin_contrat").val()
                },
                function(response){
                    if(!response.success){
                        $("#div_date_fin_contrat").popover("show");
                        $("#div_date_fin_contrat").closest("div").addClass("has-error");

                    } else {
                        $("#div_date_fin_contrat").popover("hide");
                        $("#div_date_fin_contrat").closest("div").removeClass("has-error");

                        // on Tente de récupérér les rémunération
                        if($("#id_date_debut_contrat").val() != "") {
                            get_remuneration();
                        }
                    }
                }
            );
        });

        function get_remuneration(){
            $.post(
                DOMAIN + "api/recuperer_remuneration/",
                {
                    "date_debut_contrat": $("#id_date_debut_contrat").val(),
                    "date_fin_contrat": $("#id_date_fin_contrat").val()
                },
                function(response){
                    if(response.success){
                        var annees = [
                            response.data.annees.annee1,
                            response.data.annees.annee2,
                            response.data.annees.annee3,
                            response.data.annees.annee4
                        ];

                        $("#id_salaire_brut_mensuel").val(response.data.salaire);

                        for(i=0; i < annees.length; i++){
                            index = i + 1;
                            annee = annees[i];

                            // Vidage des champs
                            $("#id_an_" + index + "_per_1_du").val(null);
                            $("#id_an_" + index + "_per_1_au").val(null);
                            $("#id_an_" + index + "_per_1_taux").val(null);
                            $("#id_an_" + index + "_per_2_du").val(null);
                            $("#id_an_" + index + "_per_2_au").val(null);
                            $("#id_an_" + index + "_per_2_taux").val(null);

                            //on masque la ligne si l'année est null
                            if (!annee){
                                $("#annee" + index).hide();
                                continue;
                            }

                            //sinon on affiches les valeurs dans les champs
                            $("#annee" + index).show();
                            $("#id_an_" + index + "_per_1_du").val(annee.periode1.du);
                            $("#id_an_" + index + "_per_1_au").val(annee.periode1.au);
                            $("#id_an_" + index + "_per_1_taux").val(annee.periode1.taux);

                            if(annee.periode2){
                                $("#id_an_" + index + "_per_2_du").val(annee.periode2.du);
                                $("#id_an_" + index + "_per_2_au").val(annee.periode2.au);
                                $("#id_an_" + index + "_per_2_taux").val(annee.periode2.taux);
                            }

                        }
                    }
                }
            )
        }

    });

    </script>
{% endblock %}
