{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-md-2 col-externe">
                    <div class="col-md-12">
                        <h5>Type de dérogation</h5>
                    </div>
                </div>
                <div class="col-md-10 col-externe" >
                    <div class="col-md-12">
                        {{  form.type_derogation }}
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="row">
                <div  class="col-md-6 col-externe">
                    <div class="col-md-4">
                        <h5>Date de début de contrat</h5>
                    </div>
                    <div class="col-md-2">
                        {{  form.date_debut_contrat }}
                    </div>
                    <div class="col-md-4">
                        <h5 align="center">Date de fin de contrat</h5>
                    </div>
                    <div class="col-md-2">
                        {{  form.date_fin_contrat }}
                    </div>
                </div>
                <div  class="col-md-6 col-externe">
                    <div class="col-md-3">
                        <h5 align="center">Date d'embauche</h5>
                    </div>
                    <div class="col-md-2">
                        {{  form.date_embauche }}
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="row" align="center">
                <div class="col-md-6 col-externe">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <h5>Du</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Au</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Minimum</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Base</h5>
                    </div>

                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <h5>Du</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Au</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Minimum</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Base</h5>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>

            </div>
        </fieldset>

        <fieldset>
            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="col-md-3">
                        <h5>Première année</h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_1_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_1_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_1_per_1_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_1_base }}
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_2_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_2_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_1_per_2_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_1_per_2_base }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="col-md-3">
                        <h5>Deuxième année</h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_1_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_1_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_2_per_1_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_1_base }}
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_2_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_2_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_2_per_2_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_2_per_2_base }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="col-md-3">
                        <h5>Troisième année</h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_1_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_1_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_3_per_1_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_1_base }}
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_2_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_2_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_3_per_2_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_3_per_2_base }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="col-md-3">
                        <h5>Quatrième année</h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_1_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_1_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_4_per_1_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_1_base }}
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_2_du }}
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_2_au }}
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.an_4_per_2_taux }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{  form.an_4_per_2_base }}
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-externe">
                    <div class="col-md-12">
                        <h5>Salaire brut mensuel</h5>
                    </div>
                </div>
                <div class="col-md-10 col-externe">
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.salaire_brut_mensuel }}
                            <span class="input-group-addon">€</span>
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-3">
                        <h5 align="center">Caisse de retraite complémentaire</h5>
                    </div>
                    <div class="col-md-3">
                        {{  form.caisse_retraite_complementaire }}
                    </div>
                    <div class="col-md-2">
                        <h5 align="center">Risques particuliers</h5>
                    </div>
                    <div class="col-md-1">
                        <div class="checkbox">
                            {{  form.risques_particuliers }}
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-externe">
                    <div class="col-md-12">
                        <h5 align="">Avantages en nature</h5>
                    </div>
                </div>
                <div class="col-md-10 col-externe">
                    <div class="col-md-1">
                        <h5>Nourriture</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{ form.nourriture }}
                            <span class="input-group-addon">€ / jour</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h5 align="center">Logement</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.logement }}
                            <span class="input-group-addon">€ / mois</span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <h5 align="center">Prime panier</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            {{  form.prime_panier }}
                            <span class="input-group-addon">€ / mois</span>
                        </div>
                    </div>

                </div>
            </div>

            <p>
                <input type="submit" value="Valider" />
            </p>
        </fieldset>


    </form>
{% endblock %}
