{% extends "base.html" %}

{% block title %}{% endblock %}

{% block bodyId %}{% endblock %}

{% block content %}
{% if contrat %}
<h5>Vous avez un contrat en cours d'édition. Rendez-vous sur les onglets suivants pour en compléter la saisie.</h5>
{% endif %}
<form action="{% url 'creationcontrat' %}" method="post">
    {% csrf_token %}
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    {{ form.as_p }}
    <p>
        <input type="submit" value="Créer" />
    </p>
<!-- Commentaire -->
</form>
{% endblock %}
