{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block bodyId %}loginPage{% endblock %}

{% block content %}

    <fieldset>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h3>{{ formation.intitule_formation }} ({{ formation.code_formation }})</h3>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-12">
                    <h3></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="col-md-12">
                    <h5>CFA</h5>
                </div>
            </div>
            <div class="col-md-10" >
                <div class="col-md-12">
                    <h5>{{ nom_cfa }} ({{ numeroUAI }}) {{ adresse_numero }} {{ adresse_voie }} {{ adresse_complement }} {{ code_postal }} {{ ville }}</h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="col-md-12">
                    <h5>Diplôme</h5>
                </div>
            </div>
            <div class="col-md-10" >
                <div class="col-md-12">
                    <h5>{{ formation.intitule_diplome }} ({{ formation.code_diplome_apprentissage }})</h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="col-md-12">
                    <h5></h5>
                </div>
            </div>
            <div class="col-md-10" >
                <div class="col-md-12">
                    <h5>{{ formation.diplome }}</h5>
                </div>
            </div>
        </div>

    <p></p>
    <p></p>
    <p></p>

    {% if formation.heures_an_1 != None %}
        <p>{{ formation.an_1_du }}</p>
        <p>{{ formation.an_1_au }}</p>
        <p>{{ formation.heures_an_1 }}</p>
    {% endif %}

    {% if formation.an_2_du != None %}
        <p>{{ formation.an_2_du }}</p>
        <p>{{ formation.an_2_au }}</p>
        <p>{{ formation.heures_an_2 }}</p>
    {% endif %}

    {% if formation.an_3_du != None %}
        <p>{{ formation.an_3_du }}</p>
        <p>{{ formation.an_3_au }}</p>
        <p>{{ formation.heures_an_3 }}</p>
    {% endif %}

    <p>{{ formation.inspection_pedagogique_competente }}</p>
    <p>{{ formation.nombre_annees }}</p>

    </fieldset>

    <form action="." method="POST">
        {% csrf_token %}
        <input type="text" name="nombre_annees" value="{{ nombre_annees }}">
        <input type="submit" value="Valider" />
    </form>

{% endblock %}

{% block menucontent %}
  menu
{% endblock %}

{% block leftsidecontent %}
  gauche
{% endblock %}
