{% extends "base.html" %}

{% block content %}
<form action="{% url 'creationentreprise' %}" method="post">
    {% csrf_token %}
        <fieldset>
            <div class="row">
                <div class="col-md-8 col-externe">
                    <div class="col-md-4">
                        <h5>Raison sociale ou nom du dirigeant</h5>
                    </div>
                    <div class="col-md-8">
                        {{ form.raison_sociale }}
                    </div>
                </div>
                <div class="col-md-4 col-externe" >

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-2">
                        <h5>Adresse</h5>
                      </div>
                      <div class="col-md-2">
                          {{ form.adresse_numero }}
                      </div>
                      <div class="col-md-7">
                          {{ form.adresse_voie }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe" >

                    <div class="col-md-1">
                        <h5>SIRET</h5>
                    </div>
                    <div class="col-md-3">
                          {{ form.numero_SIRET }}
                    </div>
                    <div class="col-md-2">
                        <h5 align="center">Code APE</h5>
                    </div>
                    <div class="col-md-2">
                          {{ form.code_APE }}
                    </div>
                    <div class="col-md-2">
                        <h5 align="center">Effectif</h5>
                    </div>
                    <div class="col-md-2">
                          {{ form.effectif_entreprise }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-2">
                        <h5></h5>
                      </div>
                      <div class="col-md-9">
                          {{ form.adresse_complement }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-1">
                        <h5>Type</h5>
                    </div>
                    <div class="col-md-11">
                          {{ form.type_employeur }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-2">
                        <h5></h5>
                      </div>
                      <div class="col-md-2">
                          {{ form.code_postal }}
                      </div>
                      <div class="col-md-7">
                          {{ form.ville }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe">
                    <div class="col-md-4">
                        <h5>Employeur spécifique</h5>
                    </div>
                    <div class="col-md-8">
                          {{ form.employeur_specifique }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-externe">
                    <div class="row">
                      <div class="col-md-2">
                        <h5>Téléphone</h5>
                      </div>
                      <div class="col-md-4">
                          {{ form.telephone }}
                      </div>
                      <div class="col-md-1">
                        <h5 align="center">Fax</h5>
                      </div>
                      <div class="col-md-4">
                          {{ form.telecopie }}
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-externe" >
                    <div class="col-md-2">
                        <h5>Courriel</h5>
                    </div>
                    <div class="col-md-10">
                          {{ form.courriel }}
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-externe">
                    <div class="col-md-6">
                        <h5>Convention collective</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Code</h5>
                    </div>
                    <div class="col-md-3">
                      {{ form.code_convention_collective }}
                    </div>
                </div>
                <div class="col-md-8 col-externe" >
                    <div class="col-md-1">
                        <h5>Libellé</h5>
                    </div>
                    <div class="col-md-11">
                      {{ form.libelle_convention_collective }}
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-2 col-externe">
                      <div class="col-md-12">
                            <h5><b>Maître d'apprentissage 1</b></h5>
                      </div>
                </div>
                <div class="col-md-5 col-externe">
                    <div class="col-md-3">
                      {{ form.civilite_ma_1 }}
                    </div>
                    <div class="col-md-2">
                        <h5 align="center">Nom</h5>
                    </div>
                    <div class="col-md-5">
                        {{ form.nom_ma_1 }}
                    </div>
                    <div class="col-md-2">
                        <h5>Prénom</h5>
                    </div>
                </div>

                <div class="col-md-5 col-externe">
                    <div class="col-md-3">
                        {{ form.prenom_ma_1 }}
                    </div>
                    <div class="col-md-2" align="center">
                        <h5>Né(e) le </h5>
                    </div>
                    <div class="col-md-3">
                      {{ form.date_naissance_ma_1 }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-externe">
                      <div class="col-md-12">
                            <h5><b>Maître d'apprentissage 2</b></h5>
                      </div>
                </div>
                <div class="col-md-5 col-externe">
                    <div class="col-md-3">
                      {{ form.civilite_ma_2 }}
                    </div>
                    <div class="col-md-2">
                        <h5 align="center">Nom</h5>
                    </div>
                    <div class="col-md-5">
                        {{ form.nom_ma_2 }}
                    </div>
                    <div class="col-md-2">
                        <h5>Prénom</h5>
                    </div>
                </div>

                <div class="col-md-5 col-externe">
                    <div class="col-md-3">
                        {{ form.prenom_ma_2 }}
                    </div>
                    <div class="col-md-2" align="center">
                        <h5>Né(e) le </h5>
                    </div>
                    <div class="col-md-3">
                      {{ form.date_naissance_ma_2 }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-externe">
                      <div class="col-md-12">
                            <h5><b>Personne à contacter</b></h5>
                      </div>
                </div>
                <div class="col-md-5 col-externe">
                    <div class="col-md-3">
                      {{ form.civilite_contact }}
                    </div>
                    <div class="col-md-2">
                        <h5 align="center">Nom</h5>
                    </div>
                    <div class="col-md-5">
                        {{ form.nom_contact }}
                    </div>
                    <div class="col-md-2">
                        <h5>Prénom</h5>
                    </div>
                </div>

                <div class="col-md-5 col-externe">
                    <div class="col-md-3">
                        {{ form.prenom_contact }}
                    </div>
                    <div class="col-md-2" align="center">
                        <h5>Courriel</h5>
                    </div>
                    <div class="col-md-7">
                      {{ form.courriel_contact }}
                    </div>
                </div>
            </div>

        </fieldset>

  <p>
        <input type="submit" class="btn btn-success" value="Valider" />
  </p>

</form>
{% endblock %}
