{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block bodyId %}loginPage{% endblock %}

{% block content %}

        <div class="card">
          <div class="card-header">
            Recherche
          </div>
          <div class="card-body">
              <form action="." method="GET" class="form">
                  <label for="specialite">Specialité :</label>
                  <select class="form-control form-control-sm" name="specialite">
                      {% for specialite in specialites %}
                          <option {% if request.GET.specialite == specialite %} selected="selected"{% endif %} value="{{ specialite }}">{{ specialite|default:"Sans specialite" }}</option>
                      {% endfor %}
                  </select>
                  <label for="ville">Ville :</label>
                    <select class="form-control form-control-sm" name="ville">
                      {% for ville in villes %}
                          <option {% if request.GET.ville == ville %} selected="selected"{% endif %} value="{{ ville }}">{{ ville|title }}</option>
                      {% endfor %}
                  </select>
                    <label for="nombre_annees">Nombre d'années :</label>
                    <select class="form-control form-control-sm" name="nombre_annees">
                      {% for nb in nombre_annees %}
                          <option {% if request.GET.nombre_annees == nb|stringformat:"d" %} selected="selected"{% endif %} value="{{ nb }}">{{ nb }}</option>
                      {% endfor %}
                  </select>
                  <button type="submit" class="btn btn-primary">Rechercher</button>
              </form>
          </div>
        </div>
    {% if formations %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Code formation</th>
              <th scope="col">Intitulé formation</th>
              <th scope="col">Durée</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for formation in formations %}
                <tr>
                    <th scope="row">{{ formation.code_formation }}</th>
                    <td>{{ formation.intitule_formation }}</td>
                    <td>{{ formation.nombre_annees }} ans</td>
                    <td><a href="{% url "appliquer_formation" pk=formation.pk %}">Sélectionner</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <h2>Aucune formation à afficher</h2>
    {% endif %}
{% endblock %}


{% block leftsidecontent %}
  gauche
{% endblock %}
